obj/A Corrida de Tartarugas.csproj.nuget.dgspec.json
obj/A Corrida de Tartarugas.csproj.nuget.g.props
obj/A Corrida de Tartarugas.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/A Corrida de Tartarugas.AssemblyInfo.cs
obj/Debug/net6.0/A Corrida de Tartarugas.AssemblyInfoInputs.cache
obj/Debug/net6.0/A Corrida de Tartarugas.assets.cache
obj/Debug/net6.0/A Corrida de Tartarugas.csproj.AssemblyReference.cache
obj/Debug/net6.0/A Corrida de Tartarugas.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/A Corrida de Tartarugas.GlobalUsings.g.cs
